<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rubengm.seriesly"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name=".Main"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:configChanges="orientation"
            android:icon="@drawable/logo_big" >
        </activity>
        <activity
            android:name=".MisSeries"
            android:configChanges="orientation"
            android:icon="@drawable/logo_big" >
        </activity>
        <activity
            android:name=".VerSerie"
            android:configChanges="orientation"
            android:icon="@drawable/logo_big" >
        </activity>
        <activity
            android:name=".VerEpisodio"
            android:configChanges="orientation"
            android:icon="@drawable/logo_big" >
        </activity>
        <activity
            android:name=".Avanzado"
            android:configChanges="orientation"
            android:icon="@drawable/logo_big" >
        </activity>
    </application>
</manifest>